form {
    border: 2px solid #000;
    border-radius: 20px;
    box-sizing: border-box;
    margin: auto;
    width: 550px;
    height: 250px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.images {
    display: flex;
    flex-wrap: wrap;
}

label {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
}

.input {
    width: 250px;
}

.button {
    width: 100px;
    margin-left: calc(50% - 50px);
}

.image {
    width: 20%;
    position: relative;
    margin-top: 5%;
}

.image:not(:first-child) {
    margin-left: 20px;
}

.img {
    width: 100%;
    height: 100%;
}

.delBtn {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
    top: -12px;
    right: -14px;
    background-color: #fff;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}

.deleteBtn::after {
    margin-top: 5px;
    margin-left: 8px;
    display: block;
}

img {
    width: 100%;
}

.err {
    position: fixed;
    background-color: #fff;
    border: 2px solid black;
    padding: 10px;
    display: none;
    left: calc(50% - 97px);
    top: calc(50% - 240px);
}

.err::after {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .6);
}